# Ignore Python cache folders
__pycache__/
*/__pycache__/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env


# Ignore VSCode settings
.vscode/

# Ignore Streamlit cache
.streamlit/

# Ignore Mac system files
.DS_Store

# Ignore embedding/model artifacts
m3/embeddings/indices_all-MiniLM-L6-v2
m3/embeddings/indices_all-mpnet-base-v2
m3/__pycache__/
**/__pycache__/
